# IDE, OS & apps files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Icon
._*
*~
*~lock*
Thumbs.db
ehthumbs.db
Desktop.ini
nbproject
.cache
.settings
.project
.buildpath
.idea
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi

# Hack to allow keeping an empty directory
# this one HAS to keep last !!
!.gitkeep
